.PropertyPreview {
  margin: 1em;
  border: 1px solid #ccc;

  .property-address {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee;
  }

  .property-name {
    padding: 0.5em;
  }
}

.link {
  cursor: pointer;
}

.home-link {
   margin-top: 1em;
   color: #0000ee;
 }
 .house-image {
   width : 150;
   height: 100;
 }
 .house-image-slide {
   max-width : 100%;
   max-height: 100%;
 }
.slide_show{
  display:block;
    width:60%;
    object-fit: contain;
    // height: 80%;
    margin-left:auto;
    margin-right:auto;
   margin-top:50px;
    //position:center;
}

// .dropdown.dropdown-lg .dropdown-menu {
//     margin-top: -1px;
//     padding: 6px 20px;
// }
// .input-group-btn .btn-group {
//     display: flex !important;
// }
// .btn-group .btn {
//     border-radius: 0;
//     margin-left: -1px;
// }
// .btn-group .btn:last-child {
//     border-top-right-radius: 4px;
//     border-bottom-right-radius: 4px;
// }
// .btn-group .form-horizontal .btn[type="submit"] {
//   border-top-left-radius: 4px;
//   border-bottom-left-radius: 4px;
// }
// .form-horizontal .form-group {
//     margin-left: 0;
//     margin-right: 0;
// }
// .form-group .form-control:last-child {
//     border-top-left-radius: 4px;
//     border-bottom-left-radius: 4px;
// }
//   @media screen and (min-width: 768px) {
//     #adv-search {
//         width: 500px;
//         margin: 0 auto;
//     }
//     .dropdown.dropdown-lg {
//         position: static !important;
//     }
//     .dropdown.dropdown-lg .dropdown-menu {
//         min-width: 500px;
//     }
// }
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Raleway:300,700");


	body, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;


		display: block;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}


	body {
		background-color: #fff;
		color: #444;
	}

	body, input, select, textarea {
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 300;
		letter-spacing: 0.09em;
		line-height: 1.65em;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

	a {
		text-decoration: none;
	}

		a:hover {
			text-decoration: none;
		}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

	input, select, textarea {
		color: #555;
	}

	a {
		color: #00cdcf;
	}

	strong, b {
		color: #555;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #555;
	}

	blockquote {
		border-left-color: #e3e3e3;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-color: #e3e3e3;
	}

	hr {
		border-bottom-color: #e3e3e3;
	}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

			}

	#banner {
		background-color: #00cdcf;
		color: #ffffff;
		padding: 8em 0 6em 0;
		text-align: center;
	}

		#banner input, #banner select, #banner textarea {
			color: black;
		}

		#banner a {
			color: #00cdcf;
		}

		#banner strong, #banner b {
			color: #ffffff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #ffffff;
		}

			#banner .button.special {
				background-color: #009a9c;
				color: #fff !important;
			}


				#banner .button.special:hover {
					background-color: #00b4b5;
				}


				#banner .button.special:active {
					background-color: #008183;
				}

		#banner h2 {
			border-style: double solid;
			border-width: 4px 1px;
			font-size: 2.4em;
			line-height: 1.35em;
			margin: 0 auto 1em;
			padding: 1.1em;
			position: relative;
			width: 40%;
		}

		#banner p {
			font-size: 1.5em;
			text-transform: uppercase;
		}

		@media screen and (max-width: 1680px) {

			#banner {
				padding: 8em 0 6em 0;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 6em 0 4em 0;
			}

				#banner h2 {
					width: 50%;
				}

		}


		@media screen and (max-width: 480px) {

			#banner {
				padding: 3em 1em 1em 1em;
			}

				#banner h2 {
					font-size: 1.65em;
					width: 100%;
				}

		}

/* Search Bar */

		.dropdown.dropdown-lg .dropdown-menu {
		    margin-top: -1px;
		    padding: 6px 20px;
		}
		.input-group-btn .btn-group {
		    display: flex !important;
		}
		.btn-group .btn {
		    border-radius: 0;
		    margin-left: -1px;
		}
		.btn-group .btn:last-child {
		    border-top-right-radius: 4px;
		    border-bottom-right-radius: 4px;
		}
		.btn-group .form-horizontal .btn[type="submit"] {
		  border-top-left-radius: 4px;
		  border-bottom-left-radius: 4px;
		}
		.form-horizontal .form-group {
		    margin-left: 0;
		    margin-right: 0;
		}
		.form-group .form-control:last-child {
		    border-top-left-radius: 4px;
		    border-bottom-left-radius: 4px;
		}
		@media screen and (min-width: 768px) {
		    #adv-search {
		        width: 500px;
		        margin: 0 auto;
		    }
		    .dropdown.dropdown-lg {
		        position: static !important;
		    }
		    .dropdown.dropdown-lg .dropdown-menu {
		        min-width: 500px;
		    }
		}
		/* Footer */

			#footer {
				background-color: #f7f7f7;
				color: #444;
				padding: 5em 0 4em 0;
				position: relative;
			}


				#footer .copyright {
					color: #bbb;
					font-size: 0.9em;
					margin: 0 0 2em 0;
					padding: 0;
					text-align: center;
					text-transform: uppercase;
				}

				@media screen and (max-width: 1280px) {

					#footer {
						padding: 4em 2em 3em 2em;
					}

				}

				@media screen and (max-width: 980px) {

					#footer {
						padding: 3em 2em 2em 2em;
					}



				}

				@media screen and (max-width: 736px) {

					#footer {
						padding: 3em 2em 1em 2em;
					}


				}

				@media screen and (max-width: 480px) {

					#footer {
						padding: 2em 1em 0.1em 1em;
					}

				}
