
<%- include('header') -%>

  <!-- <section id="banner">
				<h2><strong>Simple React Property List Page</strong></p>
				<ul class="actions">
					<li><a href="http://54.187.181.11/property" class="button special">Get List</a></li>
				</ul>
	</section> -->
  
<%- include('footer') -%>
